.img-logo{
    height: 150px;
    width: auto;
    
}
.img-container{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.appdesc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.appdesc p{
    display: flex;
    max-width: 80%;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}
.download-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.specs{
    display: flex;
    flex-direction: column;
    font-size: 70%;
    align-content: center;
}
.download-button{
    height: 50px;
    width: 200px;
    font-size: large;
    border: none;
    background-color: rgb(37, 114, 230);
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: bold;
}
.download-button a{
    color: white;
}

.download-button:hover{
    background-color: white;
    color: rgb(37, 114, 230);
}
.info{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
    margin: 10px;
    padding: 10px;
}
.info-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.line{
    width: 90vw;
    height: 2px;
    color: rgb(37, 114, 230);
    border: thin solid;
    background-color: rgb(37, 114, 230);
}
.line-box{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.screenshots-title{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 150%;
}